.App {
  text-align: center;
  margin: 20px;
}

h1 {
  color: #333;
}

h2 {
  color: #555;
}

.sound-wave {
  display: block;
  margin: 20px auto;
  max-width: 80%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  font-size: 16px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

input[type="file"] {
  display: none;
}

/* Style for custom file input button */
.custom-file-input {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
}

/* Style to hide the default file input and customize the appearance of the button */
.custom-file-input + input[type="file"] {
  display: none;
}

/* Style for the "Upload Audio" button */
.upload-button {
  margin-top: 10px;
}
